<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'hp_stylesheet.css')}}">
    </head>
    <style>
        body {
           background-color: black; 
        }
    </style>
    <body>
        <div class="topnav">
            <a href="homepage.html">Home</a>
            <a href="lessons.html">Lessons</a>
        </div> 
        <div>
            <p id = "div_36px" class = "normal_div">Hello, and wel</p>
            <p id = "div_12px" class = "normal_div">This is a course desieach begoperly.</p>
        </div>
    </body>
</html>